<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :excerpt %><br>
    <%= f.text_area :excerpt %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :date_post %><br>
    <%= f.date_select :date_post %>
  </div>
  <div class="field">
    <%= f.label :download1 %><br>
    <%= f.text_field :download1 %>
  </div>
  <div class="field">
    <%= f.label :download2 %><br>
    <%= f.text_field :download2 %>
  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :cat1 %><br>
    <%= f.text_field :cat1 %>
  </div>
  <div class="field">
    <%= f.label :cat2 %><br>
    <%= f.text_field :cat2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
